<div class="columns">
  <div
    class="column unknown"
    cdkDropList
    [cdkDropListData]="unknownCards"
    [cdkDropListConnectedTo]="['centerList', 'knownList']"
    (cdkDropListDropped)="drop($event)"
    id="unknownList">
    <h2>Nem tudtam</h2>
    @for (card of unknownCards; track card) {
      <app-card [card]="card" cdkDrag></app-card>
    }
  </div>
  <div
    class="column center"
    cdkDropList
    [cdkDropListData]="centerCards"
    [cdkDropListConnectedTo]="['unknownList', 'knownList']"
    cdkDropListGroup
    (cdkDropListDropped)="drop($event)"
    id="centerList">
    <h2>Kártyák</h2>
    @for (card of centerCards; track card) {
      <app-card [card]="card" cdkDrag></app-card>
    }
  </div>
  <div
    class="column known"
    cdkDropList
    [cdkDropListData]="knownCards"
    [cdkDropListConnectedTo]="['centerList', 'unknownList']"
    (cdkDropListDropped)="drop($event)"
    id="knownList">
    <h2>Tudtam</h2>
    @for (card of knownCards; track card) {
      <app-card [card]="card" cdkDrag></app-card>
    }
  </div>
</div>
